.button{
    -fx-background-color:
            #ffd345,
            linear-gradient(to bottom, #ffd345, #ffe485);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-text-alignment: center;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}
